<!DOCTYPE html>
<html lang="en">
<head>
  <title>asdf</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>

  <!-- ui router -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

  <!-- angular app -->
  <script type="text/javascript" src="javascript/app.js"></script>

</head>
<body>
	HERE
</body>
</html>