<ion-view view-title="Chores">

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-plus" ng-click="showNewChoreModal()">
      </button>
    </ion-nav-buttons>

  <ion-content>
    <ion-list id="chores">
      <ion-item class='item item-icon-left item-icon-right' ng-repeat="chore in chores.all | orderBy: 'createdAt' | orderBy: '-upvotes'">
        <i class="icon ion-ios-arrow-thin-up" ng-click="incrementUpvote(chore)" on-swipe-left="deleteChore(chore)"></i>
          {{chore.upvotes}}
        	{{chore.task}}
          <button class="button button-icon ion-ios-trash" ng-click="deleteChore(chore)"></button>
          <i class="icon ion-ios-checkmark" ng-click="markCompleted(chore)"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<script id="new-chore.html" type="text/ng-template">
  <div class="modal">

    // Modal header bar
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Post New Chore</h1>
      <button class="button button-clear button-balanced" ng-click="closeNewChoreModal()">Cancel</button>
    </ion-header-bar>

    // Modal content 
    <ion-content>
      <form ng-submit="createChore(newChore)">
        <div class="list">
          <label class="item item-input">
            <textarea rows="5" placeholder="What needs to be done?" ng-model="newChore.task" ng-maxlength="60" ng-minlength="4"></textarea>
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-block button-balanced">Add Chore</button>
        </div>
      </form>
    </ion-content>

  </div>
</script>

