<ion-view view-title="Master Your Domain">

  <ion-content>
    <div class="dashboardDiv">
      <div class="card" ng-repeat="content in dashboardContent | orderBy: 'date'">
      <!-- will later use this setup when using dynamic data -->
      <!--       <ion-item ng-repeat="content in dashboardContent.all | orderBy: 'createdAt'"> -->
        <div class="item item-text-wrap">
          <div class="content section">{{content.task || content.content || content.item}}</div>
          <div class="associatedUser section"><span style="font-weight: bold">{{content.completedBy || content.upvotes || content.userName || content.purchasedBy}}</span>  <span class="date" style="color: gray" am-time-ago="content.date"></span></div>
      </div>
    </div>
  </ion-content>
</ion-view>
