<ion-view view-title="Master Your Domain">

  <ion-content class="balancedBackground">
    <div class="dashboardDiv">
      <div class="card" ng-repeat="content in dashboardContent | orderBy: 'date'">
        <div class="item item-text-wrap item-icon-right">
          <div class="dashboardIcon">

            <!-- icon for active chores -->
            <span ng-if="content.addedBy"><i class="icon ion-settings"></i></span>

            <!-- icon for announcements -->
            <span ng-if="content.userName"><i class="icon ion-speakerphone"></i></span>

            <!-- icon for supplies -->
            <span ng-if="content.createdByName"><i class="icon ion-ios-cart"></i></span>          

            <!-- icon for archived chores   -->
            <span ng-if="content.completedByName"><i class="icon ion-settings"></i></span>

            <!-- icon for purchasedSupplies  -->
            <span ng-if="content.purchasedByName"><i class="icon ion-ios-cart"></i></span>

          </div>

          <div class="content section">{{content.task || content.content || content.item}}
          </div>
        </div>
        <div class="associatedUser section">
          <div class="item item-divider">
            
            <!-- footer for active chores -->
            <span ng-if="content.addedBy">Added <span am-time-ago="content.completedAt"></span> by {{content.addedBy}}</span>

            <!-- footer for announcements -->
            <span ng-if="content.userName">
            Posted <span am-time-ago="content.createdAt"></span> by {{content.userName}}
            </span>

            <!-- footer for supplies -->
            <span ng-if="content.createdByName">
            Added <span am-time-ago="content.createdAt"></span> by {{content.createdByName}}
            </span>

            <!-- footer for completed chores -->
            <span ng-if="content.completedByName">
            Completed <span am-time-ago="content.completedAt"></span> by {{content.completedByName}}
            </span>
            
            <!-- footer for completed chores -->
            <span ng-if="content.purchasedByName">
            Purchased <span am-time-ago="content.purchasedOn"></span> by {{content.purchasedByName}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
